.jumbotron.jumbotron-fluid
  .container
    %h1
      Bobbi's Guitar Lessons
    %h5
      Bringing Guitars Out of the Closet All Over The World!
    %p 
    - if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          = f.search_field :title_or_short_description_cont, class: 'form-control-sm', style: 'float: left; width 150px;', placeholder: 'Find A Course'
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count 
    Online Courses
    .row
    Guitar Courses
  .card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id) 
    Expert Instructors
    .row
    Find The Right Instructor For You
  .card-body
    %h1
      .fa.fa-user-graduate
    = User.count 
    Active Learners
    .row
    Join The cCommunity
  .card-body
    %h1
      .fa.fa-infinity
    = Course.count 
    Lifetime Access
    .row
    Learn On Your Schedule

%hr
%h2
  Popular Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  Top Rated Courses
.card-columns
  - @courses.each do |course|
    = render 'courses/course', course: course

%hr
%h2
  Latest Courses 
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course